
<section id="tasks">
  <header>
    <h2>{{ user().name }}'s Tasks</h2>
    @if (!openCreateForm) {
      <menu>
        <button
          (click)="onAddTask($event)"
        >
          Add Task
        </button>
      </menu>
    }
  </header>

  @if (openCreateForm) {
    <app-user-task-form
      (onClose)="onFormClose()"
      (onSubmit)="onFormSubmit($event)"
    />
  } @else {
    <ul>
      @for (task of activeTasks(); track task.id) {
        <li>
          <app-user-task [task]="task"/>
        </li>
      }
    </ul>
  }
</section>
